extends layout

block content
  .chatroom-container
    .chatroomListContainer
      h4 Chatrooms
      button.addChatRoomButton(onclick="addChatRoom()") + 
      .chatroomList
      
      
      
    .chat
      | Text
      div.messages
      .input
        textarea.inputText(onkeypress='checkEnter()')
        button.submitChatButton(onclick='submitChatMessage()') +
