extends layout

block content
  p Home
  .chatroom-container
    .chatroomList
      h4 Chatrooms

      
      
    .chat
      | Text
      div.messages
      .input
        textarea.inputText(onkeypress='checkEnter()')
        button.submitChatButton(onclick='submitChatMessage()') +
