extends layout

block content
  script(src='/scripts/autoCompleteIt.js')
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/main.js')
  .chatroom-container
    .chatroomListContainer
      .titleLogout
        h4 Chatrooms
        button(onclick='logout()') Logout
      .searchBarContainer
        p Search
        input.searchBar(type='input')
      button.addChatRoomButton(onclick="addChatRoom()") + 
      .chatroomList
      
    .chat
      | Text
      div.messages
      .input
        textarea.inputText(onkeypress='checkEnter()')
        button.submitChatButton(onclick='sendButtonClicked()') ➥
