extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/main.js')
  .chatroom-container
    .chatroomListContainer
      h4 Chatrooms
      button.addChatRoomButton(onclick="addChatRoom()") + 
      .chatroomList
      
    .chat
      | Text
      div.messages
      .input
        textarea.inputText(onkeypress='checkEnter()')
        button.submitChatButton(onclick='sendButtonClicked()') ➥
