doctype html
html
  head
    script(src='/scripts/main.js')
    link(href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet")
    link(rel='stylesheet',href='/stylesheets/styles.css')
  body
    block content
