.cancelButton {
  display: flex;
  margin: -22px 0 0 300px;
}

.roomName{
  display: flex;
  flex-direction: row;
  border: 1px dashed purple;
  background-color: gold;
  margin: 5px;
  outline: none;
}

.chatroomListContainer h4 {
  color: white;
}

.chatroomListContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #776036;
}

.chatroomList{
  overflow-x: auto;
}

.chatroomList *{
  width: 90%;
}

.addChatRoomButton{
  border: none;
  color: black;
  background-color: gold;
  width: 90%;
  margin: 5px;
}

.inputChat {
  margin: 2px;
}

.chat {
  display: flex;
  flex-grow: 5;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  background-color: #fffbf4;
}

.chat::after {
  content: "";
  background: url('/candyImage.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.chatroom-container{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  height: 90vh;
}

.input {
  display: flex;
  flex-direction: row;
  margin: auto auto 0 auto;
  border: 2px solid black;
}

.inputText {
  display: flex;
  flex-direction: row;
  border: none;
  width: 45vw;
  height: 5vh;
  min-height: 25px;
  resize: none;
  outline: none;
}

.messages {
  width: 90%;
  text-align: center;
  overflow-x: auto;
  overflow-y: none;
}

.chat p {
  margin: 10px auto 10px 0;
  width: 50%;
  border: 2px solid #f1ea9b;
  border-radius: 50px;
  padding: 10px;
  background-color: #f1ea9b;
}

.submitChatButton{
  border: none;
  color: black;
  background-color: gold;
  flex-grow: 1;
}



.chat .user {
  margin: 10px 0 10px auto;
  width: 50%;
  border: 2px solid #ffe6cb;
  border-radius: 50px;
  padding: 10px;
  background-color: #ffe6cb;
}

.searchBarContainer {
  display: flex;
  margin: 10px;
}

.searchBarContainer * {
  margin: 0;
  height: 15px;
  display: flex;
  flex: 1 1 auto;
}

.searchBarContainer p {
  color: white;
}